<div
  id="toast-container"
  style="position: fixed; top: 10px; right: 10px; z-index: 1000"
></div>

<div class="row" style="margin: 30px">
  <div class="input-group mt-2">
    <span class="input-group-text" id="basic-addon1">
      <i class="feather-icon" [attr.data-feather]="'search'"></i>
    </span>
    <input
      class="form-control"
      type="text"
      placeholder="Filter games"
      [(ngModel)]="filterTerm"
      (input)="onFilterChange()"
    />
  </div>

  <div class="col-12" style="margin-top: 10px">
    <ngx-datatable
      class="material"
      [headerHeight]="40"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="pageSize"
      [scrollbarH]="true"
      [selectionType]="selectionType"
      [selected]="selected"
      (select)="onSelect($event)"
      [rows]="filteredGames"
      [columns]="columns"
      (activate)="onActivate()"
    >
      <ng-template ngx-datatable-cell-template let-row="row" #actionColumn>
        <button
          style="background-color: transparent; border: none"
          class="btn"
          style="
            --bs-btn-padding-y: 0.4rem;
            --bs-btn-padding-x: 0.4rem;
            --bs-btn-font-size: 0.75rem;
          "
          (click)="openModal(row)"
        >
          <i
            class="feather-icon"
            style="width: 20px; height: 20px; color: blue"
            [attr.data-feather]="'edit'"
          ></i>
        </button>
      </ng-template>
    </ngx-datatable>
  </div>
</div>

<div class="row" style="margin: 30px">
  <div class="col-12" style="display: flex; justify-content: flex-end">
    <button class="btn btn-primary" (click)="populateDatabase()">
      Populate Database
    </button>
    <button
      class="btn btn-danger ms-2"
      [disabled]="selected.length === 0"
      (click)="deleteSelected()"
    >
      Delete selected
    </button>
    <button
      class="btn btn-danger ms-2"
      (click)="deleteAll()"
      [disabled]="games.length === 0"
    >
      Delete all
    </button>
  </div>
</div>
